.dashboard-container {  
  background-color: var(--gray-100);
  border: 1px solid var(--gray-400);
}

.tabs-for-graphing-interface-container {
  background-color: var(--gray-200);
  display: flex;
  gap: 0;
}

.tabs-for-graphing-interface{
  font-size: 0.875rem;
  padding: var(--spacing-05);
  flex-basis: 6.25rem;
  flex-grow: 1;
  max-width: 17.5rem;
  text-transform: uppercase;
  justify-content: center;
  background-color: transparent;
  color: var(--gray-700) ;
  text-align: center;
  border: 0;
  border-right: 1px solid var(--gray-500);
  opacity: 0.8;
  cursor: pointer;
}

.tabs-for-graphing-interface:hover{
  opacity: 1;
}

.tabs-for-graphing-interface:last-of-type{
  border-right:0;
}

.tabs-for-graphing-interface.selected{
  background-color: var(--white);
  color: var(--blue-600);
  opacity: 1;
}

@media (max-width: 700px) {
  .tabs-for-graphing-interface{
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.graph-container {
  display: flex;
  align-items: stretch;
}

@media (max-width: 960px) {
  .graph-container {
    display: inline;
  }
}  

.settings-container {
  width: 25%;
  max-width: 30rem;
  height: 80vh;
  min-height: 46.25rem;
  border-right: 1px solid var(--gray-400);
  overflow: auto;
  background-color: var(--white);
}

.graph-el {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.graph-el.no-overflow {
  overflow: hidden;
}

@media (min-width: 961px) {
  .graph-el {
    height: 80vh;
    min-height: 46.25rem;
  }
}
@media (max-width: 960px) {
  .graph-el {
    width: 100%;
  }

  .settings-container {
    width: 100%;
    max-width: 960px;
    border-right: 0px solid var(--gray-400);
    border-bottom: 1px solid var(--gray-400);
    padding-bottom: 0;
    height: auto;
    min-height: 0;
  } 
}

.settings-option-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-bottom: 1px solid var(--gray-400);
  gap: var(--spacing-05);
  padding: var(--spacing-05);
}


.filters-option-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-05);
}

.settings-option-container:last-of-type {
  border-bottom: 0;
}

.settings-option-container-title {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-06);
  gap: 0.52rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.settings-option-div {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 15rem;
}

.slider-background {
  padding: var(--spacing-05) var(--spacing-06) var(--spacing-06) var(--spacing-04);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--gray-200);
  border-bottom: 1px solid var(--gray-400);
  position: sticky;
  top: 0;
}

.error-el {  
  padding: 1rem;
  min-height: 33px;
  flex-shrink: 0;
  background-color: var(--light-red);
  color: var(--dark-red);
  text-align: center;
  align-items: center;
  position: sticky;
  font-size: 1.25rem;
  font-weight: 600;
  top: 0;
}

.info-el {  
  padding: 1rem;
  min-height: 33px;
  flex-shrink: 0;
  background-color: var(--blue-200);
  color: var(--blue-700);
  text-align: center;
  align-items: center;
  position: sticky;
  font-size: 1.25rem;
  font-weight: 600;
  top: 0;
}